* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    width: 30rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

#display, #clear {
    grid-column: span 4;
}

#display {
    font-size: 3rem;
    height: 4rem;
    border: 2px solid mistyrose;
    border-radius: 12px;
    background-color: #D4E2D4;
    color: #002800;
    text-align: center;
}

.number, .operator, .dot, .equals {
    width: 3.5rem;
}

.number, .dot {
    background-color: #DBC4F0;
}

.operator {
    background-color: #FFCACC;
}

.equals {
background-color: rebeccapurple;
color: white;
}

#clear {
    background-color: #FAF3F0;
    color: blue;
}